
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),  url('Ubuntu-Medium.woff') format('woff'), url('Ubuntu-Medium.ttf')  format('truetype'), url('Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
