
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),  url('Ubuntu-Bold.woff') format('woff'), url('Ubuntu-Bold.ttf')  format('truetype'), url('Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
